/* HEADER */

.achievement-header{

padding-top:150px;
padding-bottom:100px;

text-align:center;
}

.achievement-header h1{

font-size:4rem;

font-weight:800;

color:#38BDF8;
}


/* GALLERY */

.award-gallery{

padding:100px 0;
}

.award-card{

background:#1E293B;

border-radius:20px;

overflow:hidden;

margin-bottom:40px;

transition:.3s;
}

.award-card:hover{

transform:translateY(-10px);

box-shadow:
0 15px 40px
rgba(56,189,248,.2);
}

.award-card img{

width:100%;

height:350px;

object-fit:cover;
}

.award-content{

padding:25px;
}

.award-content h3{

margin-bottom:15px;
}


/* TIMELINE */

.achievement-timeline{

padding:100px 0;
}

.timeline{

position:relative;

max-width:800px;

margin:auto;
}

.timeline::before{

content:"";

position:absolute;

left:50%;

width:4px;

height:100%;

background:#38BDF8;

transform:
translateX(-50%);
}

.timeline-event{

background:#1E293B;

padding:25px;

border-radius:15px;

margin-bottom:40px;

position:relative;
}

.timeline-event:hover{

border:1px solid #38BDF8;
}