.project-header{

padding-top:150px;
padding-bottom:100px;

text-align:center;
}

.project-header h1{

font-size:4rem;

font-weight:800;

color:#38BDF8;
}

.project-section{

padding-bottom:100px;
}

.project-card{

background:#1E293B;

border-radius:20px;

overflow:hidden;

margin-bottom:40px;

transition:.3s;
}

.project-card:hover{

transform:translateY(-10px);

box-shadow:
0 15px 40px
rgba(56,189,248,.2);
}

.project-image img{

width:100%;

height:260px;

object-fit:cover;
}

.project-content{

padding:25px;
}

.project-content h3{

margin-bottom:15px;

font-weight:700;
}

.project-content p{

color:#CBD5E1;
}

.tech-stack{

display:flex;

flex-wrap:wrap;

gap:10px;

margin:20px 0;
}

.tech-stack span{

background:#0F172A;

padding:8px 15px;

border-radius:25px;

font-size:.9rem;
}

.status-badge{

background:#14532d;

padding:12px;

border-radius:10px;

margin-bottom:20px;
}

.project-buttons{

display:flex;

gap:15px;
}

.coming-soon{

background:#1e40af;

padding:10px;

border-radius:10px;

margin-top:20px;

text-align:center;
}

.upcoming-project{

display:flex;

justify-content:center;

align-items:center;

min-height:350px;
}