.skills-header{

padding-top:150px;
padding-bottom:80px;

text-align:center;
}

.skills-header h1{

font-size:4rem;

font-weight:800;

color:#38BDF8;
}

.skills-section{

padding:60px 0;
}

.skill-category{

color:#38BDF8;

margin-bottom:30px;

font-weight:700;
}

.skill-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;
}

.skill-card{

background:#1E293B;

padding:25px;

border-radius:15px;

text-align:center;

font-weight:600;

transition:.3s;
}

.skill-card:hover{

transform:translateY(-8px);

border:1px solid #38BDF8;

box-shadow:
0 15px 30px
rgba(56,189,248,.15);
}

.profile-card{

background:#1E293B;

padding:35px;

border-radius:20px;

text-align:center;

margin-top:20px;

transition:.3s;
}

.profile-card:hover{

transform:translateY(-10px);
}

.profile-card h3{

margin-bottom:15px;

color:#38BDF8;
}

.profile-card a{

color:white;

text-decoration:none;
}